.blog {
    background: #F2F2F2;

    &__title{
        font-family: "Open Sans Condensed";
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 75px;
        text-align: center;
        padding-bottom: 40px;
        padding-top: 54px;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__button{
        font-family: 'Bebas Neue';
        border:none;
        display: flex;
        justify-content:center;
    }
    &__button_strong{
        
        &:hover {
            transition: 1s;
            transform: scale(1.11);
            background-color: #ECCC00;
        }
        &:active{
            background: #FFEB6C;
            color: 000;
            border:none;
        }
        border:none;
        align-items: center;
        width: 278px;
        height: 44px;
        background: #FFE01B;
        margin-top: 29px;
        margin-bottom:62px;
    }


}
