.footer{
   
    background: #45B7E3; 
    color: #FFFFFF;
    align-items: center;
    text-align: right;
    vertical-align: middle;

    &__content_normal {
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        padding: 0;
        margin:0;
    }
 }