.footer{
   
    background: #45B7E3; 
    color: #FFFFFF;
    align-items: center;
    text-align: right;
    vertical-align: middle;

    &__content_normal {
        height: 61px;
        padding-top: 3px;
        padding-bottom: 3px;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        height: 61px;
       
    }
 }