.header {
    
  background: #FFFFFF;
 
  display: flex;
  justify-content: space-between;

  &__logo{
  }

  &__navigation {
    width:289px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation_normal {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;

    color: #000000;
  }
a{
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: red;
    }
}
}
