.info{
    
    background: url("./img/block_2_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;

    &__content_strong{ 
        
        margin: 0;
        padding-top: 20px;
        padding-bottom: 16px;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
       
    }
    &__content_normal {
        margin: 0;
        line-height: 72px;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
    }
}