.links{
    
    background: #FE6262;
    color: #FFFFFF !important;
    align-items: center;
    text-align: center;
    &__content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__content_strong{ 
        font-size: 48px;
        padding-top: 9px;
        padding-bottom: 21px;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        margin: 0;
    }
    &__content_pic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 262px;
        height: 171px;
        background: #343434;
    }

    
   
 
    
}
