.links{
    
    background: #FFE01B;
    color: #000000 !important;
    align-items: center;
    text-align: center;
    &__content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__content_strong{ 
        margin-top: 33px;
        font-size: 48px;
        padding-top: 9px;
        padding-bottom: 21px;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        
    }
    &__content_pic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 262px;
        height: 171px;
        background: #343434;
        margin-bottom: 54px;
        &:hover{
            background-color: #000000;
            
        }
    }
    .phonepic{
        position: fixed;
        width: 100px;
        height: 100px;
        left: 1335px;
        top: 779px;

    
        background:  #FF6969;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        &__vector{
            

        }
    
    }
    
    
   
 
    
}
