.MyBlog {
    background-color: #ffe01b;

    &__content_strong{ 
        
        margin: 0;
        padding-top: 20px;
        padding-bottom: 90px;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
       
    }
}

@mixin article (){
    &_title{
        font-size: 36px;
        padding-bottom: 40px;
    }   
    &_content{
        padding-top:35px;
        padding-bottom: 20px;
        font-size: 16px;
    }
    &_date{
        padding-bottom: 50px;
    }   

    &_line{
        color: black;
        margin-bottom: 50px;
        border: none;
        background-color:black; 
        height: 1px;
    }
}

.MyBlog__article1 {
    @include article();
        
    }

.MyBlog__article2 {
    @include article();
    &_pic{
        background: URL("./IMG/article2_image.png");
        width: 655px;
        height:409;
    }
    
    
}

    


