
<div class="main">
    <div class="container">
        <div class="main__title">
            ОБО МНЕ
        </div>

        <div class="main__content">
            <div class="pic">

            </div>  
            <div class="text">
                <div class="text__title">
                        ИННОКЕНТИЙ СМОКТУНОВСКИЙ
                </div>
                <div class="text__passage">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Illum distinctio quasi culpa eveniet assumenda quia qui 
                        molestiae est ea odio quos voluptatibus perspiciatis, ipsam 
                        impedit tempore ducimus omnis deserunt adipisci inventore 
                        dicta consectetur, reiciendis fugiat ad! Eum excepturi 
                        accusantium amet odio corporis? Odio dignissimos repudiandae 
                        vero sapiente voluptatum laboriosam fuga quidem quos, nostrum 
                        voluptate, qui recusandae commodi. Aliquid tenetur repellat 
                        velit assumenda sapiente aspernatur ratione, error labore 
                        pariatur cum architecto debitis odio mollitia unde officiis 
                        distinctio quia quam, voluptas quidem quasi dolorum, repudiandae 
                        obcaecati. Veniam voluptatibus dolorum iste molestiae repellat 
                        officiis quibusdam recusandae sequi cupiditate, sit corrupti! 
                        Illo, esse quibusdam? 
                </div>
                <div class="details">
                    <div class="details__pic_1">

                    </div>
                    <div class="details__text">
                        ТОЛЬЯТТИ
                    </div>

                    <div class="details__pic_2">

                    </div>
                    <div class="details__text">
                        ФОТОГРАФ
                    </div>
                    <div class="details__pic_3">

                    </div>
                    <div class="details__text">
                        10 НОЯБРЯ
                    </div>
                    
                </div>
            </div>

    </div>

    <div class="main__gallery">
                       <div class="item">
                            <div class="item__pic">
                                <img src="./img/pic_gallery_1.png">
                            </div>
                            <div class="item__text">
                                <div class="item__text_normal">
                                    Фото в сквере нашего парка
                                </div>
                                <div class="item__text_normal">
                                    10.02.2018
                                </div>  
                            </div>  
                    </div>
                    
                    <div class="item">
                            <div class="item__pic">
                                <img src="./img/pic_gallery_2.png">
                            </div>
                            <div class="item__text">
                                <div class="item__text_normal">
                                    Красивый закат и девушка 
                                </div>
                                <div class="item__text_normal">
                                    17.03.2017
                                </div>    
                            </div>
                    </div>

                    <div class="item">
                            <div class="item__pic">
                                <img src="./img/pic_gallery_3.png">
                            </div>
                            <div class="item__text">
                                <div class="item__text_normal">
                                    Красивые горы на фоне
                                </div>
                                <div class="item__text_normal">
                                    21.01.2017
                                </div>  
                            </div>  
                    </div>

                    <div class="item">
                            <div class="item__pic">
                                <img src="./img/pic_gallery_4.png">
                            </div>
                            <div class="item__text">
                                <div class="item__text_normal">
                                    Успела заснять капитана Marvel
                                </div>
                                <div class="item__text_normal">
                                    13.06.2017
                                </div> 
                            </div>   
                    </div>
                           
                    <div class="item">
                            <div class="item__pic">
                                <img src="./img/pic_gallery_5.png">
                            </div>
                            <div class="item__text">
                                <div class="item__text_normal">
                                    Эмма Уотсон уже не торт
                                </div>
                                <div class="item__text_normal">
                                    03.08.2016
                                </div>  
                            </div>  
                    </div>
        
                    <div class="item">
                            <div class="item__pic">
                                <img src="./img/pic_gallery_6.png">
                            </div>
                            <div class="item__text">
                                <div class="item__text_normal">
                                    Жру и не толтею, сжечь меня, шучу
                                </div>
                                <div class="item__text_normal">
                                    30.01.2014
                                </div>  
                            </div>  
                    </div>

            
    </div>
        <a href="">
                <div class="main__button">
                    <div class="main__button_strong">
                        ЗАГРУЗИТЬ ЕЩЕ
                    </div>
                </div>
        </a>
    </div>  
        
</div>