<div class="blog">
    <div class="container">
        <div class="blog__title">
            МОЙ БЛОГ
        </div>
        <div class="blog__content">
                @@include('./../components/news.html')
                @@include('./../components/news.html')
                @@include('./../components/news.html')
        </div>
        <a href= "MyBlog.html">
        <div class="blog__button">
            <div  class="blog__button_strong">
                ПОСМОТРЕТЬ ВСЕ НОВОСТИ
            </div>
        </div>
        </a>
    </div>
</div>