<div class="blog">
    <div class="container">
        <div class="blog__title">
            МОЙ БЛОГ
        </div>
        <div class="blog__content">
                @@include('./../components/news.html')
                @@include('./../components/news.html')
                @@include('./../components/news.html')
        </div>
        <div class="blog__button">
            <button onclick="location.href='MyBlog.html'" class="blog__button_strong">
                ПОСМОТРЕТЬ ВСЕ НОВОСТИ
            </button>
        </div>
      
    </div>
</div>