<div class="header" >
  <a name = "header"></a>
      <div class="container">
          <!-- <p class = "header__content_strong" > БРЕНД.ru</p> -->
        <div> 
          <img src="./img/mailchimp_2018_logo_before_after_a.png">
        </div> 
         <sapn>
           <a class = "header__content_italic" href="#header">Главная</a> 
         </sapn> 
        
         <span>
           <a class = "header__content_normal" href="#info">История обо мне </a>
         </span> 

         <span>
           <a class ="header__content_normal" href="#links">Мой блог</a>
         </span> 

         <span>
           <a class="header__content_normal" href="#links">Контакты</a>
         </span> 

         <!-- <span> 
           <a href ="second_page.html" class="header__content_normal">Моя вторая страница</a>
         </span>  -->
      </div>
  </div>
