<div class="header" >
  <a name = "header"></a>
      <div class="container">
          <p class = "header__content_strong" > БРЕНД.ru</p>
          <a class = "header__content_italic" href="#header">Главная</a> <br>
          <a class = "header__content_normal" href="#info">История обо мне </a><br>
          <a class ="header__content_normal" href="">Мой блог</a><br>
          <a class="header__content_normal" href="#links">Контакты</a><br>
          <a href ="second_page.html" class="header__content_normal">Моя вторая страница</a>
      </div>
  </div>