<div class = "links">
    <a name = "links"></a>
        <div class="container">
            <h2 class ="links__content_strong"> КОНТАКТЫ</h2>
            <p class="links__content_normal">
               <div class = "links__content_normal">
                    <a href="https://vk.com/id187885239"> Ссылка на Vk </a>
               </div>
               <div class = "links__content_normal">
                    <a href="https://www.instagram.com/lexabossss/"> Ссылка на Instagram </a>
               </div>
                
               <div class = "links__content_normal">
                    <a href="tel:89869579180"> 89869579180</a>
               </div>
                
            </p> 
        </div>
    </div>