<div class = "links">
    <a name = "links"></a>
        <div class="container">
            <h2 class ="links__content_strong"> КОНТАКТЫ</h2>
            <div class="links__content">
               <div class = "links__content_pic">
                    <a href="https://vk.com/id187885239"> <img src="./img/vk (2).png"> </a>
               </div>
               <div class = "links__content_pic">
                    <a href="https://www.instagram.com/lexabossss/"><img src="./img/instagram.png">  </a>
               </div>
                
               <div class = "links__content_pic">
                    <a href="tel:89869579180"> <img src="./img/phone.png"></a>
               </div>
                
               <div class = "links__content_pic">
                         <a href=""> <img src="./img/mail (2).png"></a>
               </div>
                     
          </div> 
        </div>
    </div>