<div class = "links">
    
        <div class="container">
            <h2 class ="links__content_strong"> КОНТАКТЫ</h2>
            <div class="links__content">

           <a href="https://vk.com/id187885239"> 
               <div class = "links__content_pic">
                     <img src="./img/vk (2).png">               
               </div>
          </a>

          <a href="https://www.instagram.com/lexabossss/">
               <div class = "links__content_pic">
                    <img src="./img/instagram.png">  
               </div>
          </a>
          
          <a href="tel:89869579180"> 
               <div class = "links__content_pic">
                    <img src="./img/phone.png">
               </div>
          </a>    

          <a href=""> 
               <div class = "links__content_pic">
                     <img src="./img/mail (2).png">  
               </div>
          </a>  
          </div> 
          <a href="">
               <div class="phonepic"> 
                    <img class= "phonepc__vector" src="./img/vector.png"> 
               </div>
               <div class="phonepic2"></div> 
                    
          </a>
        </div>
    </div>